doctype html
html(class="no-js", lang="ru")

    include ../../bemto/bemto
    include ../components/head/head
    include ../components/footer/footer
    include ../components/header/header
    include ../components/clubs/clubs
    include ../components/banner-block/banner-block
    include ../components/side-menu/side-menu
    include ../components/vitrina/vitrina


    head
        +head(head.defaults)

    body
        |%=symbols=%

        +header()

        main.wrapper
            +clubs()

            +banner-block()

            +b.main-block
                +e.left
                    +side-menu()

                +e.right
                    H1.game-title Играть в игровой автомат Crazy Monkey бесплатно и без регистрации в казино
                    +b.game-block
                        +e.frame-wrap
                            <iframe src="//games-cv.com/pharaohs_gold_iii?refCode=promoRefCode" align="center"></iframe>
                        +e.A(href='#').btn Играть на деньги
                    .text-block
                        p Lorem ipsum dolor sit amet, <a href='#'>consectetur adipiscing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <a href='#'>incididunt</a> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        h2 H2 text text text
                        ul
                            li text text
                            li text text
                    +vitrina()




        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
