$dark-blue: #011933;
$light-blue-text: #67c8ff;

$active-bg: #0985e2;

$hover-blue-bg: #012c51;

$blue-linear-btn: linear-gradient(#0083bf 0%,#0083bf 50%,#005ca6 51%,#0083bf 82%);
$blue-linear-btn-hover: linear-gradient(#3ea1cc 0%,#3ea1cc 50%,#005ca6 51%,#3ea1cc 82%);

$orange-linear-btn: linear-gradient(#ff7b00 0%,#ff7b00 50%,#ff5400 51%,#ff7b00 82%);
$orange-linear-btn-hover: linear-gradient(#f79141 0%,#f79141 50%,#ff5400 51%,#f79141 82%);

$green-linear-btn: linear-gradient(#599b00 0%,#599b00 50%,#317700 51%,#599b00 82%);
$green-linear-btn-hover: linear-gradient(#78ad26 0%,#78ad26 50%,#317700 51%,#78ad26 82%);

