mixin banner-block(data)
    +b.banner-block
        +e.left
            +b.month-club
                +e.title Заведение месяца
                +e.UL.list
                    +e.LI.list-item Бонус при регистрации +1000
                    +e.LI.list-item Гарантия вывода средств
                    +e.LI.list-item Более 80 игровых автоматов
                +e.A(href='#').btn Получить бонус бесплатно!



        +e.right
            +b.now-play
                +e.title Сейчас выигрывают в автоматах Вулкан
                +e.list
                    +e.list-item
                        +e.list-left
                            +e.user Wea***
                        +e.list-right
                            +e.number 906p.
                            +e.img
                                IMG(src='static/img/content/banana-logo.jpg')
                    +e.list-item
                        +e.list-left
                            +e.user antife***
                        +e.list-right
                            +e.number 1800p.
                            +e.img
                                IMG(src='static/img/content/banana-logo.jpg')
                    +e.list-item
                        +e.list-left
                            +e.user v***
                        +e.list-right
                            +e.number 153000p.
                            +e.img
                                IMG(src='static/img/content/banana-logo.jpg')
                    +e.list-item
                        +e.list-left
                            +e.user oren***
                        +e.list-right
                            +e.number 1500p.
                            +e.img
                                IMG(src='static/img/content/banana-logo.jpg')

        A(href='#').rocket-left
        A(href='#').rocket-right

